---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="">Hi, I'm nursyah
				<!-- 👋 -->
				<!-- alo, Saya nursyah  -->
				<!-- <span class="animate-spin">
				</span> -->

			</h1>
			<p>
				
			</p>
			<p>
				Saya seorang web developer, yang suka belajar hal baru namun 
				lebih suka menggunakan 
				<a href="https://nuxt.com">
					<code>nuxtjs</code>
				</a>,
				<a href="https://nextjs.org">
					<code>nextjs</code>
				</a>
				sebagai fullstack framework,
				atau menggunakan 
				<a href="https://react.dev">
					<code>react</code>
				</a>,
				<a href="https://vuejs.org">
					<code>vue</code>
				</a>
				untuk frontend
				dan backend menggunakan 
				<a href="https://echo.labstack.com">
					<code>golang echo</code>
				</a>, 
				<a href="https://fastapi.tiangolo.com">
					<code>python fastapi</code>
				</a>, atau
				<a href="https://hono.dev">
					<code>nodejs hono</code>					
				</a>
			</p>
			<p>
				untuk mempercepat produksi saya menggunakan 
				backend yang sudah jadi seperti
				<a href="https://firebase.google.com/">
					<code>firebase</code>
				</a>,
				<a href="https://pocketbase.io/">
					<code>pocketbase</code>					
				</a> serta menggunakan 
				<a href="https://flutter.dev/">
					<code>flutter</code>
				</a>,
				<a href="https://reactnative.dev/">
					<code>react native</code>
				</a> jika memerlukan aplikasi mobile
			</p>

			<p>meskipun jarang menggunakannya 
				saya juga bisa menggunakan
				<a href="https://laravel.com/">
					<code>laravel</code>
				</a> jika diperlukan
			</p>
			
			<p>
				hubungi saya melalui email berikut jika ingin bekerja sama
				<a href="mailto:nursyahjaya@gmail.com" class="underline">nursyahjaya@gmail.com</a>
			</p>
		</main>
		<Footer />
	</body>
</html>
