---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I'm nursyah 👋</h1>
			<p>
				
			</p>
			<p>
				Saya seorang web developer, yang suka belajar hal baru namun 
				lebih suka menggunakan 
				<a href="https://nuxt.com">
					<code>nuxtjs</code>
				</a>atau 
				<a href="https://nextjs.org">
					<code>nextjs</code>
				</a>
				sebagai fullstack framework,
				atau menggunakan 
				<a href="https://react.dev">
					<code>react</code>
				</a>
				<a href="https://vuejs.org">
					<code>vue</code>
				</a>
				untuk frontend
				dan untuk backend menggunakan 
				<a href="https://echo.labstack.com">
					<code>golang echo</code>
				</a>, 
				<a href="https://fastapi.tiangolo.com">
					<code>python fastapi</code>
				</a>, atau
				<a href="https://hono.dev">
					<code>nodejs hono</code>					
				</a>
			</p>
			<!-- <p>Berikut post yang mungkin menarik untuk anda baca:</p> -->
			<ul>
				<!-- <li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li> -->
			</ul>
			<p>
				Selamat membaca
			</p>			
		</main>
		<Footer />
	</body>
</html>
