---
import Layout from "../layouts/Layout.astro";
	
const getTime = (str:string) => {
	return Date.parse(str.split('-').reverse().join('-'))
}

const post = (await Astro.glob("../pages/post/*.md")).sort(
	(a:any, b:any) => 
		getTime(b.frontmatter.date) - getTime(a.frontmatter.date)
	);
---


<Layout title="Nursyah's page">
	<h1><span class="text-gradient">Nursyah's</span></h1>
	<p class="flex">
		Hi i'm nursyah, a third year software engineer student at institut
		teknologi telkom surabaya. currently i'm focusing on learning kotlin to create android software and something amazing. <br />
		besides on coding i likes to listening music, and read manga or novel
	</p>
	<br>
	<a href="https://www.linkedin.com/in/nursyahjaya-ramadaniputra-6b44ba149/">linkedin</a>
	<a href="https://github.com/nursyah21" class="px-2">github</a>
	<a href="https://drive.google.com/file/d/17f3wyqy2YX00GquNqzzu751PUgyMdHI8/view?usp=share_link">resume</a>

	<!-- post / project -->
	<section></section>
		{
			post.map((post) => (
				<div class="p-2 bg-slate-800 rounded-md  my-2">
					<div class="flex justify-between">
						<a class="no-underline" href={post.url}>
						{post.frontmatter.title}
						</a>
						<p class="text-slate-400 text-sm">
							{post.frontmatter.date}
						</p>
					</div>

					<p>{post.frontmatter.description}</p>
				</div>
			))
			
		}
	
</Layout>

<style>
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
