---
import Nav from '../components/Nav.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="#" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<!-- navbar -->
		<!-- <Nav /> -->
		<slot />
	</body>
</html>
<style is:global>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	h1{
		font-size: xx-large;
	}
	h2{
		font-size: larger;
	}
	h3{

	}
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	a{
		color: rgb(160, 59, 255);
		text-decoration: underline;
	}
	a:hover{
		color: rgb(114, 7, 215);
	}
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #0D1117;
		color:rgb(183, 183, 183);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
