---
import Layout from './Layout.astro';
const {frontmatter} = Astro.props
---

<Layout title={frontmatter.title+" | Nursyah"}>
	<h1 class="text-gradient">{frontmatter.title}</h1>
	
	{frontmatter.date == frontmatter.last_update ? 
		<p class="text-xs">{frontmatter.date}</p> :
		<p class="text-xs">last update: {frontmatter.last_update}</p>
	}
	<br>
	<slot />

	<p class="bg-[#ffffff2a] text-white p-2 m-2 mt-4">
		<span>Found a typo or something suggestion</span>: 
		<a class="text-white" href="https://github.com/nursyah21/nursyah21.github.io/issues">create and issue on github</a> 
		<br />
	</p>
</Layout>
